{% extends "layout.html.twig" %}

  {% block title %}Annuaire des anciens élèves de Webforce3{% endblock %}


        {% block content %}

		<div class="col-md-12 text-center" style="margin-bottom:5em;">            
                             
            <blockquote class="blockquote text-center"><h1 style="margin-top: 1em;">Annuaire des anciens élèves de Webforce3</h1> </blockquote>
            
            
		</div>

<p><a href="{{ path('inscription') }}"><button type="button" class="btn btn-info blockquote text-center" style="margin-left:1em; width:390px">Inscrivez-vous pour figurer dans l'annuaire</button></a></p>

<p><a href="{{ path('login') }}"><button type="button" class="btn btn-info blockquote text-center" style="margin-left:1em; width:390px">Connectez-vous pour accéder à l'annuaire détaillé</button></a> </p>




          <a href="{{ path('updateAlumniAction', {id: app.user.id}) }}"><button type="button" class="btn btn-info">Modifiez votre fiche détaillée</button></a> 



<br><br>
<form action="{{ path('rechercheParUsername')}}">
    <input style="margin-left:1em; margin-bottom: 1em; width:390px;" type="text" name="name" placeholder="nom"><br>
    <button type="submit" style="margin-left:1em; ">Rechercher</button>
</form>

<br>
<br>

<table style="margin-left:1em; width:1900px;" class="table table-striped"  >
  <thead>
     
    <tr>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
      <th scope="col">Détails</th>
    <th scope="col">Contact</th>
   
    </tr>
      	
  </thead>

  <p><a href="{{ path('inscription/alumni') }}"><button type="button" class="btn btn-info blockquote text-center" style="margin-left:1em; width:390px">Si vous êtes deja inscrit, remplissez votre fiche détaillée</button></a></p>
    
  <tbody>
    <tr>
         {% for user in users %}
        
      <td>{{ user.firstname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.city }}</td>
        <td><a href="{{ path('fichedetaillee', {id: user.id}) }}">Fiche détaillée</a></td>
        <td><a href="{{ path('contacter', {id: user.id}) }}">Contacter</a></td>
    </tr>

      
  {% endfor %} 
  </tbody>
</table>



<a href="{{ path('deleteUserAction', {id: app.user.id})}}"><button type="button" class="btn btn-info" style="margin-bottom:2em; margin-left: 1em; width:390px">Supprimer son compte</button></a> 













    {% endblock %} 