{% extends "layout.html.twig" %}

  {% block title %}Annuaire des anciens élèves de Webforce3{% endblock %}

        



        {% block content %}

		<div class="col-md-12 text-center" style="margin-bottom:5em;">            
                             
            <blockquote class="blockquote text-center"><h1 style="margin-top: 1em;">Annuaire des anciens élèves de Webforce3</h1> </blockquote>
            
            
		</div>

<p><a href="{{ path('inscription') }}"><button type="button" class="btn btn-info blockquote text-center" style="margin-left:1em; width:390px">Inscrivez-vous pour figurer dans l'annuaire</button></a></p>

<p><a href="{{ path('login') }}"><button type="button" class="btn btn-info blockquote text-center" style="margin-left:1em; width:390px">Connectez-vous pour accéder à l'annuaire détaillé</button></a> </p>



                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a href="{{ path('updateAlumniAction', {id: app.user.id}) }}"><button type="button" class="btn btn-info" style="margin-left: 1em; width: 390px;">Modifiez votre fiche détaillée</button></a> 
                    {%endif%}



<form action="{{ path('rechercheParUsername')}}">
    <input style="margin-left:1em; margin-bottom: 1em; width:390px; margin-top:20px;" type="text" name="name" placeholder="nom"><br>
    <button type="submit" style="margin-left:1em; background: #ecf0f1; ">Rechercher un ancien</button>
</form>


<br>
<br>

<table style="margin-left:1em; width:1900px;" class="table table-striped"  >
  <thead>
     
    <tr>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
      <th scope="col">Détails</th>
    <th scope="col">Contact</th>
    
   
    </tr>
      	
  </thead>

     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
  <p><a href="{{ path('inscription/alumni') }}"><button type="button" class="btn btn-info blockquote text-center" style="margin-left:1em; width:390px">Remplissez votre fiche détaillée</button></a></p>
    {% endif %}
    
    
  <tbody>
    <tr>
         {% for user in users %}
        
      <td>{{ user.firstname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.city }}</td>

        

        <td><div class="fiche"><a href="{{ path('fichedetaillee', {id: user.id}) }}">Fiche détaillée</a></div></td>
        <td><div class="fiche"><a href="{{ path('contacter', {id: user.id}) }}">Contacter</a></div></td>
       
    </tr>

      
  {% endfor %} 
  </tbody>
</table>



 
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<a href="{{ path('deleteUserAction', {id: app.user.id})}}"><button type="button" class="btn btn-info" style="margin-bottom:2em; margin-left: 1em; width:390px">Supprimer son compte</button></a> 
{%endif%}


    {% endblock %}

{% block javascript %}

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
               
    <script>
        $('.fiche').click(function(){
          alert('Vous devez être connecté(e) pour accéder à la fiche détaillée.');            
                       
    });
    </script> 
{% endif %}

{% endblock %}