{% extends "layout.html.twig" %}

  {% block title %}Annuaire des anciens étudiants de Webforce3{% endblock %}

        



        {% block content %}

		<div class="col-md-12 text-center" style="margin-bottom:5em; width: 1900px;" >
            
            <!-- titre -->

            <blockquote class="blockquote text-center"><h1 style="margin-top: 3em;" style="font-family: Merriweather, arial, sans-serif;">Annuaire des anciens de Webforce3</h1> </blockquote>
            <h4>Anciens étudiants de WebForce3, inscrivez-vous et consultez l'annuaire des anciens afin de connaître leur parcours et les contacter directement pour leur poser des questions.</h4>
            <h4>Vous êtes recruteurs en informatique ? Inscrivez-vous pour contacter directement les profils qui vous intéressent ! </h4>
 
            
		</div>

    <!-- bouton incription connexion -->

    <blockquote class="blockquote text-center">
    <a href="{{ path('inscription') }}"><button type="button" class="button">Inscrivez-vous pour figurer dans l'annuaire</button></a>
    <a href="{{ path('login') }}"><button type="button" class="button">Connectez-vous pour accéder à l'annuaire détaillé</button></a>
    </blockquote>


  {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <blockquote class="blockquote text-center">
        <a href="{{ path('inscription/alumni') }}"><button type="button" class="button">Remplissez votre fiche détaillée</button></a>
        <a href="{{ path('updateAlumniAction', {id: app.user.id}) }}"><button type="button" class="button">Modifiez votre fiche détaillée</button></a> 

{%endif%}

    </blockquote>


  <!-- bouton recherche -->

<div id="rechercheancien"> 
<form  action="{{ path('rechercheParUsername')}}">
    <input style="margin-left:1em; margin-bottom: 1em; width:390px; margin-top:20px;" type="text" name="name" placeholder="nom">
    <button type="submit" class="button">Rechercher un ancien</button>
</form>
</div>


<!-- tableau des fiches des élèves -->


<table style="width:1900px; margin-top: 20px;" class="table table-striped"  >
  <thead>
     
    <tr>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Ville</th>
      <th scope="col">Détails</th>
     {% if is_granted('ROLE_ADMIN') %} <th scope="col">Modification</th>{%endif%}
     {% if is_granted('ROLE_ADMIN') %} <th scope="col">Suppression</th>{%endif%}
    <th scope="col">Contact</th>
    
  </tr>      	
  </thead>    
  <tbody>
  <tr>

         {% for user in users %}
        {%if user.role != 'ROLE_ADMIN' and user.role != 'ROLE_EMPLOYER' %}
      <td>{{ user.firstname }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.city }}</td>

        <!-- détail dans le tableau -->

        <td><div class="fiche"><a href="{{ path('fichedetaillee', {id: user.id}) }}">Fiche détaillée</a></div></td>
         {% if is_granted('ROLE_ADMIN') %}
         <td> <a href="{{ path('updateAdminAlumniAction', {id: user.id}) }}">Modifier cette fiche détaillée</a> </td>
         <td> <a href="{{ path('deleteAdminUserAction', {id: user.id}) }}">Supprimer cette utilisateur  </a> </td>

                    {%endif%}
                    
        <td><div class="fiche"><a href="{{ path('contacter', {id: user.id}) }}">Contacter</a></div></td>
        {%endif%}
    </tr>
      
  {% endfor %} 
  </tbody>
</table>

    {% endblock %}

{% block javascript %}

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
               
    <script>
        $('.fiche').click(function(){
          alert('Vous devez être connecté(e) pour accéder à cette page.');            
                       
    });
    </script> 
{% endif %}

{% endblock %}