{% extends "layout.html.twig" %}

  {% block title %}Messagerie privée{% endblock %}


        {% block content %}

		<div class="col-md-12 text-center" style="margin-bottom:5em;">            
                             
            <blockquote class="blockquote text-center">
                <h1 style="margin-top: 3em;">Communiquez en direct avec les anciens étudiants de Webforce3 !</h1>
            </blockquote>
            
		</div>

            <blockquote class="blockquote text-center">
                <h2>Retrouvez un ancien étudiant avec lequel vous souhaitez communiquer dans <a href="{{ path('annuaire') }}">l'annuaire</a></h2>
            </blockquote>





<br>
<br>

<table style="margin-left:1em; width:1900px;" class="table table-striped"  >
  <thead>
     
    <tr>
      <th scope="col">Contact</th>
      <th scope="col">Dernier message</th>
      <th scope="col">Date du dernier message</th>
    </tr>
      	
  </thead>
    
  <tbody>

           {% for user in users %}
    <tr>


      {% if user.receiver_id.id == app.user.id %}
        <td><a href="{{ path('contacter', {id: user.sender_id.id}) }}#derniermessage">{{ user.sender_id.firstname }} {{ user.sender_id.lastname }}</a></td>
        <td><a href="{{ path('contacter', {id: user.sender_id.id}) }}#derniermessage"><span {% if user.message_state == 0 and user.receiver_id.id == app.user.id %} style="font-weight: bold;" {% endif %}>{{ user.message|length > 50 ? user.message|slice(0, 50) ~ '...' : user.message  }}</span></a></td>
      {% else %}
        <td><a href="{{ path('contacter', {id: user.receiver_id.id}) }}#derniermessage">{{ user.receiver_id.firstname }} {{ user.receiver_id.lastname }}</a></td>
        <td><a href="{{ path('contacter', {id: user.receiver_id.id}) }}#derniermessage"><span {% if user.message_state == 0 and user.receiver_id.id == app.user.id %} style="font-weight: bold;" {% endif %}>{{ user.message|length > 50 ? user.message|slice(0, 50) ~ '...' : user.message  }}</span></a></td>        
      {% endif %}
      <td>{{ user.date_message|date("d/m/Y") }} à {{ user.date_message|date("H:i:s") }}</td>

    </tr>
  {% endfor %} 



  </tbody>
</table>















    {% endblock %} 