{% extends "layout.html.twig" %}

  {% block title %}Messagerie privée{% endblock %}


        {% block content %}

		<div class="col-md-12 text-center" style="margin-bottom:5em;">            
                             
            <blockquote class="blockquote text-center">
                <h1 style="margin-top: 3em;">Communiquez en direct avec les anciens étudiants de Webforce3 !</h1>
            </blockquote>
            
		</div>

            <blockquote class="blockquote text-center">
                <h2>Retrouvez un ancien étudiant avec lequel vous souhaitez communiquer dans <a href="{{ path('annuaire') }}">l'annuaire</a></h2>
            </blockquote>

  <!-- DETAIL DE LA MESSAGERIE -->

<table style="margin-left:1em; width:1900px;" class="table table-striped"  >
  <thead>
     <!-- INTITULE DES COLONNES -->
    <tr>
      <th scope="col">Contact</th>
      <th scope="col">Dernier message</th>
      <th scope="col">Date du dernier message</th>
    </tr>
      	
  </thead>
    
  <tbody>
    <tr>
         {% for user in users %}

      {% if user.receiver_id.id == app.user.id %}
        <td><a href="{{ path('contacter', {id: user.sender_id.id}) }}">{{ user.sender_id.firstname }} {{ user.sender_id.lastname }}</a></td>
      {% else %}
        <td><a href="{{ path('contacter', {id: user.receiver_id.id}) }}">{{ user.receiver_id.firstname }} {{ user.receiver_id.lastname }}</a></td>
      {% endif %}
      <td>{{ user.message }}</td>
      <td>{{ user.date_message }}</td>


    </tr>

  {% endfor %} 

  </tbody>
</table>















    {% endblock %} 