{% extends "layout.html.twig" %}

  {% block title %}Détail de l'offre d'emploi{% endblock %}


        {% block content %}
<br>
<br>
<br>
		<div class="col-md-12 text-center">
            
            
            <h1>Détail de l'offre d'emploi</h1>
            

            <br>
            <br>
            
			
				         <h2><p class="bold"> {{ detailoffre.title }}</p></h2>
            
            
            <table class="table table-bordered table-hover table-responsive">
                
                <tbody>
  
            <tr><th scope="row">Société</th><td>{{ detailoffre.company }}</td></tr>       
            <tr><th scope="row">Ville</th><td>{{ detailoffre.city }}</td></tr>
            <tr><th scope="row">Date</th> <td>{{ detailoffre.date_offer }}</td></tr> 
            <tr><th scope="row">Description</th> <td>{{ detailoffre.description }}</td></tr>
            <tr><th scope="row">Compétences demandées</th> <td>{{detailoffre.skills}}</td> </tr>
            <tr><th scope="row">Salaire et avantages</th> <td>{{ detailoffre.advantages }}</td> </tr>
            <tr><th scope="row">Type de contrat</th> <td>{{ detailoffre.contract }}</td> </tr>
            <tr><th scope="row">Durée du contrat</th> <td>{{ detailoffre.contractduration }}</td> </tr>        
            <tr><th scope="row">Temps de travail</th> <td>{{ detailoffre.timetable}}</td></tr>
            <tr><th scope="row">Nom du recruteur</th> <td>{{ detailoffre.recruitername}}</td></tr>
            <tr><th scope="row">Email du recruteur</th> <td>{{ detailoffre.recruitercontact}}</td></tr>       
                    
                    
                </tbody>
            </table>
            
            <br>
            <br>
    
              
            <a href="{{ path('suppressionoffre', {id: detailoffre.id} ) }}"><button type="button" class="btn btn-info">Supprimer cette offre</button></a> 
            
            <br>
            <br>
            <br>

            
            
            
            
		
            
		

		</div>

    {% endblock %} 