<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>WebForce3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet">
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">
  <link href="color/default.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/style.css">


  
</head>

<header>
  
          <!-- navbar -->
          <div class="navbar-wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <!-- Responsive navbar -->
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                  </a>


         

                  <div class="brand"><a href="{{ path('home') }}"><img src="img/icons/redim150.png" alt="Webforce3, l'école des développeurs"></a></div>
                  <!-- navigation -->
                  <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">

                  
                      <li><a title="team" href="{{ path('annuaire') }}">Annuaire</a></li>

                      <li><a href="{{ path('forum') }}">Forum</a></li>
                      <li><a title="works">Offres d'emploi</a></li>

                      <li><a title="blog" href="">Contact</a></li>
                      <li><a href="{{ path('login') }}">Connexion</a></li>
                      <li><a href="{{ path('inscription') }}">Inscription</a></li>

                      <!-- A MODIDIER FORMAT TWIG-->
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </header>
        <body> 


        <div>
           
           {% block content %}{% endblock %}
        </div>
            <!--footer-->
        <footer>
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <ul class="social-networks">

            
            
            <li><a href="https://twitter.com/_webforce3?lang=fr"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
            <li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
            <li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
          </ul>
          <p class="copyright">
            Concept et site crée en collaboration avec Norman Julié, Pierre Bory, Virginie Boillet et Alexandre Bosc.
            <div class="credits">
              <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>           
              <a href="https://bootstrapmade.com/"></a> 
            </div>
          
            </p>
        </div>
      </div>
    </div>
    <!-- ./container -->
  </footer>
    
   <!-- jQuery -->
   <script src="{{ asset('js/jquery.min.js') }}"></script>
               {% block javascript %}{% endblock %}

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
</body>
</html> 

