<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>WebForce3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{{ asset('css/bootstrap-responsive.css') }}" rel="stylesheet">
  <link href="{{ asset('css/style.css') }}" rel="stylesheet">
  <link href="color/default.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico">


  
</head>

<header>
  
          <!-- navbar -->
          <div class="navbar-wrapper">
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container">
                  <!-- Responsive navbar -->
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                  </a>

                  <h1 class="brand"><a href="{{ path('home') }}"><img src="img/webforce3.png" alt="" />Les Anciens</a></h1>

                  <div class="brand"><a href="index.html"><img src="img/webforce3.png" alt="Webforce3, l'école des développeurs"></a></div>
                  <!-- navigation -->
                  <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                      <li><a title="team" href="{{ path('annuaire') }}">Annuaire</a></li>
                      <li><a title="services" href="{{ path('forum') }}">Forum</a></li>
                      <li><a title="works" href="">Offres d'emploi</a></li>
                      <li><a title="blog" href="">Contact</a></li>
                      <li><a title="contact" href="">Connexion</a></li>
                      <li><a href="{{ path('register') }}">Inscription</a></li>
                      <!-- A MODIDIER FORMAT TWIG-->
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </header>
        <body> 


        <div>
           
           {% block content %}{% endblock %}
        </div>
        <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
    
   <!-- jQuery -->
   <script src="{{ asset('js/jquery.min.js') }}"></script>
               {% block javascript %}{% endblock %}

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="js/scrolling-nav.js"></script>
</body>
</html> 