{% extends "layout.html.twig" %}

  {% block title %}Offres d'emploi{% endblock %}


        {% block content %}

		<div class="col-md-12 text-center">
            
            <blockquote class="blockquote text-center" style="margin-top: 20px;"><h1>Offres d'emploi</h1> </blockquote>
            
            
		</div>

<br>
<br>

<a href="{{ path('formulaireemploi') }}"><button type="button" class="btn btn-info" style="margin-left:10px;">Poster une offre d'emploi</button></a>
<a href="{{ path('updateJobAction', {id: button}) }}"><button type="button" class="btn btn-info">Modifiez votre offre d'emplois</button></a> 



            <form>
            <label>Recherche d'un article par son titre</label>
            <input type="text" name="title" placeholder="Rentrer le nom de l'offre d'emploi">
            <button type="button" class="btn btn-info" id="action" style="margin-left:10px">Rechercher</button>
            </form>

            <div id="result"></div>


{% block javascript %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
               
    <script>
        $(function(){
            $('#action').click(function(event){
                //permet d'empêcher la validation du formulaire et le chargement de la page
                event.preventDefault();
                //construction de l'url de la requête avec les paramètres
                var url = "{{ path('rechercheajaxpartitre') }}";
                //requête ajax en POST
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: $('form').serialize(),
                    dataType: 'html',
                    success: function(data){
                        $('#result').html(data);
                    },
                    error: function() {
                        alert('La requête n\'a pas abouti'); 
                    }
                });
            });
        });
    </script>      
{% endblock%}














<table class="table table-striped" style="margin-left:10px; width:1900px;">
  <thead>
     
    <tr>
      <th scope="col">Date de l'offre</th>
      <th scope="col">Poste</th>
      <th scope="col">Ville</th>
      <th scope="col">Détails</th>
    
    </tr>
      	
  </thead>
    
  <tbody>
    <tr>
         {% for offre in offres %}
        
      
        
      <td>{{ offre.date_offer }}</td>
      <td>{{ offre.title }}</td>
      <td>{{ offre.city }}</td>
        <td><a href="{{ path('detailoffre', {id:offre.id} ) }}">Détail du poste</a></td>
        
    </tr>
      
  {% endfor %} 
  </tbody>
</table>














    {% endblock %} 