{% extends "layout.html.twig" %}

  {% block title %}Offres d'emploi{% endblock %}


        {% block content %}

        <div class="col-md-12 text-center">
            <blockquote class="blockquote text-center" style="margin-top: 6em;">
                <h1 style="margin-bottom: 0.5em;">Offres d'emploi</h1> 
      
                    <h4 style="margin-bottom: 4em;">Vous êtes recruteurs en informatique ? Inscrivez-vous pour poster vos offres d'emploi !</h4>
                
                
              <a href="{{ path('formulaireemploi') }}"><button type="button" class="button">Poster une offre d'emploi</button></a>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<a href="{{ path('updateJobAction', {id: app.user.id}) }}"><button type="button" class="button">Modifiez votre offre d'emploi</button></a>
            </blockquote>  
        </div>

{% endif %}

<blockquote class="blockquote text-center"> 
            <form method="GET">
            <input type="text" name="title" id="title" placeholder="Rentrer le nom de l'offre d'emploi"  style="width: 390px; margin-top:20px;">
            <button type="button" class="button" id="action">Recherche d'une offre d'emploi par son titre</button>
            </form>

            <div id="result"></div>

            <form method="GET">
            <input type="text" name="city" id="city" placeholder="Rentrer une ville" style="width: 390px; margin-top:20px;">
            <button type="button" class="button" id="action1">Recherche d'offres d'emploi par ville</button>
            </form>
            <div id="result"></div>
</blockquote> 
    
<table class="table table-striped" style="margin-left:10px; margin-top: 20px; width:1900px;">
  <thead>
    <tr>
      <th scope="col">Date de l'offre</th>
      <th scope="col">Poste</th>
        <th scope="col">Société</th>
      <th scope="col">Ville</th>
      <th scope="col">Détails</th>
      {% if is_granted('ROLE_ADMIN') %} <th scope="col">Modification</th>{%endif%}
     {% if is_granted('ROLE_ADMIN') %} <th scope="col">Suppression</th>{%endif%}
    </tr>
  </thead>
    
<tbody>
    
    <tr>
         {% for offre in offres %} 
        
      <td>{{ offre.date_offer }}</td>
        <td><div class="javascript"><a href="{{ path('detailoffre', {id:offre.id} ) }}">{{ offre.title }}</a></div></td>
        <td>{{ offre.company }}</td>
      <td>{{ offre.city }}</td>
        <td><div class="javascript"><a href="{{ path('detailoffre', {id:offre.id} ) }}">Détail du poste</a></div></td>
        {% if is_granted('ROLE_ADMIN') %}
         <td> <a href="{{ path('updateAdminOffreAction', {id: offre.id}) }}">Modifier cette offre</a> </td>
         <td> <a href="{{ path('deleteAdminOffreAction', {id: offre.id}) }}">Supprimer cette offre</a> </td>
                    {%endif%}

       

        
    </tr>

  {% endfor %} 

  </tbody>
</table>

    {% endblock %} 
                
    {% block javascript %}
               
    <script>
        $(function(){
            $('#action').click(function(event){
                //permet d'empêcher la validation du formulaire et le chargement de la page
                event.preventDefault();
                //construction de l'url de la requête avec les paramètres
                var url = "{{ path('rechercheajaxpartitre') }}";
                //requête ajax en GET
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: $('form').serialize(),
                    dataType: 'html',
                    success: function(data){
                        $('#result').html(data);
                    },
                    error: function() {
                        alert('La requête n\'a pas abouti'); 
                    }
                });
            });
        });
    </script> 
<script>
        $(function(){
            $('#action1').click(function(event){
                //permet d'empêcher la validation du formulaire et le chargement de la page
                event.preventDefault();
                //construction de l'url de la requête avec les paramètres
                var url = "{{ path('rechercheajaxparville') }}";
                //requête ajax en GET
                $.ajax({
                    type: 'GET',
                    url: url,
                    data: $('form').serialize(),
                    dataType: 'html',
                    success: function(data){
                        $('#result').html(data);
                    },
                    error: function() {
                        alert('La requête n\'a pas abouti'); 
                    }
                });
            });
        });
    </script> 
    <script>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        $('.javascript').click(function(){
          alert('Vous devez être connecté(e) pour accéder à cette page.');  
    });
         
         {% endif %}
    </script> 

{% endblock %}