	{% extends "layout.html.twig" %}
	
	{% block title %}Inscription{% endblock %}
	
	{% block content %}
            <h2>Formulaire d'inscription</h2>

            <p>Veillez remplir le formulaire ci-dessous avec votre nouveau mot de passe.</p>
            
 

            <div>
            {{ form_start(resetForm, { 'attr': {'class': 'form-horizontal'} }) }}

			    <div class="form-group">		    
			        {{ form_label(resetForm.password.first, null, { 'label_attr':  {
			            'class': 'col-sm-5 control-label'
			        }}) }}
                	{% if resetForm.password.first.vars.errors|length > 0 %}
	                    <div class="alert alert-danger">
						    {% for error in resetForm.password.first.vars.errors %}
						        {{ error.message }}
						    {% endfor %}
	                    </div>
	                {% endif %}				        
			        <div class="col-sm-4">
			            {{ form_widget(resetForm.password.first, { 'attr':  {
			                'class': 'form-control'
			            }}) }}
			        </div>
			    </div>
                <br>
			    <div class="form-group">
			        {{ form_label(resetForm.password.second, null, { 'label_attr':  {
			            'class': 'col-sm-5 control-label'
			        }}) }}
			        <div >
			            {{ form_widget(resetForm.password.second, { 'attr':  {
			                'class': 'form-control'
			            }}) }}
			        </div>
			    </div>
<br>
<br>

                <div class="form-group" "col-sm-4">
                    <input type="submit" class="btn btn-primary btn-lg" value="Envoyer" />
                </div>
            {{ form_end(resetForm) }}        
        </div>

		{% endblock %}