{% extends "layout.html.twig" %}
	
	{% block title %}Un sujet{% endblock %}
	
	{% block content %}

<br><br>
<br>


        <h2 style="text-align: center">Mon sujet</h2>
          
            {% for response in responses %}
			 <article style="text-align: center; border: ridge;  background-color: #f5f5f5; margin-left: 50em; margin-right: 50em; margin-bottom: 2em; box-shadow: 6px 6px 6px #d6d5d5;   word-wrap: break-word">
                
				
				<p>Message publié le {{ response.date_message }}
				par {{ response.user_id.username }}</p>
                <p style="padding: 1em;">{{ response.message }}</p>
			</article>
        {%endfor%}

{{ form_start(responsesForm, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="form-group" style="margin-left: 25em; margin-right: 25em">
                    {{ form_label(responsesForm.message, null) }}
                    <div>
                        {%if not responsesForm.vars.valid %}
                    <div class="alert alert-danger">
                        {{ form_errors(responsesForm.message) }}
                    </div>
                        {%endif%}
                        {{ form_widget(responsesForm.message, { 'attr':  {
                            'class': 'form-control'
                        }}) }}
                    </div>
                </div>
                <br>
                <div class="form-group" class="col-sm-12" style="margin-left: 60em; margin-right: 60em">
                    <input type="submit" class="btn btn-primary btn-lg" value="Send" />
                </div><br>




            {{ form_end(responsesForm) }}

{% endblock %}