{% extends "layout.html.twig" %}
  
{% block title %}Un sujet{% endblock %}
  
{% block content %}
        

        <br><br>
<br><br><br>

       <div style="background-color: #f2f2f2;  color:black; margin-bottom: -1em">
           
        <h2 style="text-align: center; margin-top: -1em; padding-top: 1em; color: #11A09A">  {{ subject.title}}</h2>
        <article >
                
				
				<img style="margin-top: 2em; margin-left: 40em; margin-right: 45em; padding-top: -1em;" src="{{ asset('img/avatar/' ~ subject.user_id.avatar) }}" class="img img-responsive img-rounded" width="75"><p style="margin-top: -4em; margin-left: 47em;">Message publié le {{ subject.date_message|date("d/m/Y") }} à {{ subject.date_message|date("H:i:s") }}
				par {{ subject.user_id.username }}
        <a href="{{ path('contacter', {id: subject.id}) }}#derniermessage"><i style="margin-left: 2em; position: relative" class="fa  fa-envelope-o" aria-hidden="true"></a></i>


        <p style="margin-top: 0em; margin-left: 47em;"> {% if subject.date_edit != '0000-00-00 00:00:00' %} modifié le {{ subject.date_edit|date("d/m/Y") }} à {{ subject.date_edit|date("H:i:s") }}  {%endif%}
              
              
                <p style="padding: 1em; color: black; margin-left: 39em; margin-top: 2em; word-wrap: break-word; margin-right: 39em;">{{ subject.message }}</p>
                {% if app.user.id == subject.user_id.id %}<a style="float: right; margin-top: 0em; margin-right: 2em; border: 1px solid grey; border-radius: 5px; padding: 5px; text-decoration: none" href="{{ path('updateSubjectAction', {id: subject.id}) }}">Modifier ce message</a> 
                {% endif %} {% if is_granted('ROLE_ADMIN') %}</p>
              <a style="float: right;" href="{{ path('deleteAdminResponseAction', {id: subject.id}) }}">Supprimer ce message</a><br>
             <a style="float: right" href="{{ path('updateAdminSubjectAction', {id: subject.id}) }}">Modifier ce message</a>
              
              {%endif%}<br>
                <hr style="margin-left: 3em; margin-right: 3em; border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);">
			</article>

            <div id="responses">
            {% for response in responses %}

       <article>               
				
				<img style="margin-top: 2em; margin-left: 40em; margin-right: 45em; padding-top: -1em;" src="{{ asset('img/avatar/' ~ response.user_id.avatar) }}" class="img img-responsive img-rounded" width="75"><p style="margin-top: -5em;"><p style="margin-top: -4em; margin-left: 47em;">Message publié le {{ response.date_message|date("d/m/Y") }} à {{ response.date_message|date("H:i:s") }} 
				par {{ response.user_id.username }}
        <a href="{{ path('contacter', {id: response.user_id.id}) }}#derniermessage"><i style="margin-left: 2em; position: relative" class="fa  fa-envelope-o" aria-hidden="true"></a></i>
        <p style="margin-top: 1em; margin-left: 47em;"> {% if response.date_edit != '0000-00-00 00:00:00' %} modifié le {{ response.date_edit|date("d/m/Y") }} à {{ response.date_edit|date("H:i:s") }} </p> {% endif %}  <br>
                
                <p style="padding: 1em; color: black; margin-left: 39em; margin-top: 2em; word-wrap: break-word; margin-right: 39em;">{{ response.message }}</p> 
                {% if app.user.id == response.user_id.id %} <a style="float: right; margin-top: -2em; margin-right: 2em; border: 1px solid grey; border-radius: 5px; padding: 5px; text-decoration: none" href="{{ path('updateSubjectAction', {id: subject.id}) }}">Modifier ce message</a>{% endif %}
                {% if is_granted('ROLE_ADMIN') %}</p>
              <a style="float: right" href="{{ path('deleteAdminResponseAction', {id: response.id}) }}">Supprimer ce message</a><br>
             <a style="float: right" href="{{ path('updateAdminResponseAction', {id: response.id}) }}">Modifier ce message </a>
              
              {%endif%}
              <hr style="margin-left: 3em; margin-right: 3em; border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);">  
			</article>
        {%endfor%}
           </div>

{{ form_start(responsesForm, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="form-group" style="margin-left: 25em; margin-right: 25em">
                    {{ form_label(responsesForm.message, null) }}
                    <div>
                        {%if not responsesForm.vars.valid %}
                    <div class="alert alert-danger">
                        {{ form_errors(responsesForm.message) }}
                    </div>
                        {%endif%}
                        {{ form_widget(responsesForm.message, { 'attr':  {
                            'class': 'form-control'
                        }}) }}
                    </div>
                    <div>
                    <input type="hidden" name="subject_id" value="{{ subject.id }}">
                    
                    </div>
                    <div>
                    <input type="hidden" name="user_id" value="{{ app.user.id }}">
                    
                    </div>
                    
                    
                    
                </div>

                <br>
                <div class="form-group" class="col-sm-12" style="margin-left: 60em; margin-right: 60em">

                    <input type="submit" class="button" id="action" value="Envoyer" />


                </div><br>

            {{ form_end(responsesForm) }}
           
</div>

{% endblock %}



{% block javascript %}

             
   <script>
       $(function(){
           $('#action').click(function(event){
               //permet d'empêcher la validation du formulaire et le chargement de la page
               event.preventDefault();
               //construction de l'url de la requête avec les paramètres
               var url = "{{ path('responses') }}";
            
               //alert(message);
               $.ajax({
                   type: 'GET',
                   url: url,
                   data: $('form').serialize(),  
                   dataType: 'html',
                   success: function(data){
                       $('#responses').append(data);
                   },
                   error: function() {
                       alert('La requête n\'a pas abouti');
                   }
               });
           });
       });
   </script> 




<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>


  
{%endblock%}

