	{% extends "layout.html.twig" %}
	
	{% block title %}Forum{% endblock %}
	
	{% block content %}
{{ form_start(subjectForm, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="form-group">
                    {{ form_label(subjectForm.title, null) }}
                    <div>
                        {{ form_errors(subjectForm.title) }}
                        {{ form_widget(subjectForm.title, { 'attr':  {
                            'class': 'form-control'
                        }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(subjectForm.message, null) }}
                    <div>
                        {%if not subjectForm.vars.valid %}
                    <div class="alert alert-danger">
                        {{ form_errors(subjectForm.message) }}
                    </div>
                        {%endif%}
                        {{ form_widget(subjectForm.message, { 'attr':  {
                            'class': 'form-control'
                        }}) }}
                    </div>
                </div><br>
                
                <div class="form-group" class="col-sm-12">
                    <input type="submit" class="btn btn-primary btn-lg" value="Send" />
                </div>
            {{ form_end(subjectForm) }}

            <h2>Les differents sujets du forum : </h2>
          
       {% for subject in subjects %}
			<article>
                <a href="{{ path('forumsubject', {idSubject: subject.id}) }}"><h2>{{ subject.title }}</h2></a>
				
				<p>publié le {{ subject.date_message }}
				par {{ subject.user_id.username }}</p>
                <p>{{ subject.message }}</p><hr>
			</article>
        {%endfor%}
		{% endblock %}
		