{% extends "layout.html.twig" %}
  {% block title %}Connexion{% endblock %}

  {% block content %}

  <h2 class="text-center">Login</h2>

<br>

                 {% for flashMessage in app.session.flashbag.get('success') %}
                 <div class="alert alert-success">
                     {{ flashMessage }}
                 </div>
                 {% endfor %}  

                 {% for flashMessage in app.session.flashbag.get('error') %}
                 <div class="alert alert-danger">
                     {{ flashMessage }}
                 </div>
                 {% endfor %}  


                 <div class="form-group" class="col-sm-12" style="margin-left: 60em; margin-right: 60em">

             <form class="form-signin form-horizontal" method="post">
           
                 <div class="form-group">
                     <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                         <label>Mot de passe actuel</label>                        
                         <input type="password" name="oldPassword" class="form-control" required>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                         <label>Nouveau mot de passe</label>                        
                         <input type="password" name="newPassword" class="form-control" placeholder="Au moins 4 caractères" required>
                     </div>
                 </div>
                 <div class="form-group">
                     <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                         <label>Répétez le nouveau mot de passe</label>                        
                         <input type="password" name="newPassword2" class="form-control" required>
                     </div>
                 </div>                 
                <div class="form-group" class="col-sm-12">
                     <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                         <button type="submit" class="btn btn-default btn-primary">Modifier</button>
                     </div>
                 </div>
             </form>
         </div>

         {{ dump(test) }}
                  {{ dump(test2) }}
                           {{ dump(test3) }}
                           {{ app.user.firstname }}
  {% endblock %}