

         {% if contactId == app.user.id %}
            <p><img style="margin-top: 1em; margin-left: 1em; margin-right: 45em" src="{{ asset('img/avatar/' ~ contact.receiver_id.avatar) }}" class="img img-responsive img-rounded" width="75">

               {{ contact.receiver_id.firstname }} {{ contact.receiver_id.lastname }}
            </p>

    
          {% else %}

            <p><img style="margin-top: 1em; margin-left: 40em; margin-right: 45px" src="{{ asset('img/avatar/' ~ contact.sender_id.avatar) }}" class="img img-responsive img-rounded" width="75">

               {{ contact.sender_id.firstname }} {{ contact.sender_id.lastname }}
            </p>            

          {% endif %}


            <p  style="margin-left:40em; margin-right: 40em; word-wrap: break-word;">{{ contact.message }} <span>{{ contact.date_message|date("d/m/Y") }} à {{ contact.date_message|date("H:i:s") }}</span></p> 
          


            <hr style="margin-left: 3em; margin-right: 3em; border: 0;
             height: 1px;
             background: #333;
             background-image: linear-gradient(to right, #ccc, #333, #ccc);">